@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

@font-face {
  font-family: Imported;
  src: url(../assets/NN.otf);
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgb(212, 212, 212);
  background: linear-gradient(
    0deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(255, 255, 255, 1) 14%,
    rgba(255, 255, 255, 1) 77%,
    rgba(212, 212, 212, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: none;
}

h2 {
  padding: 0%;
  margin: 0%;
}

p {
  margin: 0;
  padding: 0%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

//==================HEADER==================
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  text-align: center;
}

.header {
  margin: 10px;
  font-family: Imported;
  font-weight: bolder;
  letter-spacing: -0.1em;
  color: black;
  font-size: 7em;
  position: relative;
  text-align: center;
}

.menu {
  color: black;
}
.menu:hover {
  color: blue;
}

.status {
  font-family: Imported;
  font-weight: bolder;
  color: green;
  z-index: 1;
  align-self: flex-end;
  position: absolute;
  top: 0;
  margin: 10px;
  z-index: 2;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 424px) {
  .header {
    margin-top: 15px;
    font-size: 2.5em;
    color: black;
    margin-bottom: 5px;
  }
}

@media (min-width: 425px) {
  .header {
    font-size: 3.5em;
  }
}
@media (min-width: 768px) {
  .header {
    font-size: 5em;
  }
}

//==================HERO==================
.hero-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 500px;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 98%;
}

.trending-title {
  margin-top: 2em;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.slide.active {
  opacity: 1;
  transition: transform 0.2s ease-in-out;
  transform: (2);
}

.slide.active:hover {
  transform: scale(1.1);
}

.slide-btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  color: black;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  height: 100px;
}

.slide-btn:hover {
  color: green;
}

.right {
  right: 10em;
}
.left {
  left: 10em;
}

h3 {
  margin-bottom: 0%;
}

@media (max-width: 424px) {
  .hero-image {
    width: 260px;
  }

  // .trending {
  //   width: 98%;
  //   border: blue 2px solid;
  // }
  .trending-title {
    margin-top: 1.4em;
  }

  h3 {
    font-size: 15px;
  }

  .hero-post {
    width: 315px;
  }

  .right {
    right: 10px;
  }
  .left {
    left: 10px;
  }
}

@media (min-width: 425px) {
  .hero-image {
    width: 350px;
  }

  // .trending {
  //   width: 98%;
  //   border: green 2px solid;
  // }
  .hero-post {
    width: 425px;
  }
  .right {
    right: -1px;
  }
  .left {
    left: -1px;
  }

  .trending-title {
    margin-top: 0.9em;
  }

  h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .right {
    right: 10px;
  }
  .left {
    left: 5px;
  }
  .trending-title {
    align-items: start;
    width: 95%;
  }

  .hero-post {
    width: 768px;
  }
  .hero-image {
    width: 435px;
  }
}

@media (min-width: 1024px) {
  .trending {
    // border: green 2px solid;
  }
  .hero-image {
    width: 550px;
  }

  .hero-post {
    width: 1024px;
  }
  .trending-title {
    margin-top: 0;
  }
  .right {
    right: 100px;
  }
  .left {
    left: 100px;
  }
  h3 {
    margin-bottom: 5px;
  }
}

//==============PRODUCT LISTING=============
.list {
  margin: 1%;
  margin-bottom: 40px;
}

//==============PRODUCT DETAILS==============
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.details p {
  margin: 0.5em;
  margin-left: 0.5em;
  font-size: 14px;
}

.details {
  border-top: none;
  border-bottom: none;
  border-top: solid 1px black;
  margin-bottom: 5px;
}

.product-image {
  width: 400px;
}

//==============LOGIN==============
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  border: 2px dashed;
  padding: 2%;
}

.login-message {
  margin-top: 30px;
}

.error {
  color: red;
}
//==============USER INVENTORY==============
.inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  margin: 10px;
  font-family: Imported;
  // text-decoration: overline;
}
.user-inventory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5px;
  border: black 2px solid;
  width: 250px;
  height: 300px;
  position: relative;
  padding-bottom: 5px;
}
.card button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border: 2px solid transparent;
  border-color: green;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 1.5em;
  transition: background, color 0.2s ease-in-out;
  margin-top: 2em;
}

.card button:hover {
  background-color: green;
  color: #fff;
  border: none;
}

.card-image {
  width: 225px;
}

.card p {
  margin: 3%;
  border-bottom: 1px solid;
}

.edit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2em;
  border-radius: 1em;
}

.modal-title {
  color: inherit;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

//==============FOOTER==============
.footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
}

.footer-image {
  color: black;
  height: auto;
  width: 30px;
  margin-left: 0.2em;
}

.footer-image:hover {
  color: green;
}

@media (max-width: 424px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 2px;
  }
}
