@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

@font-face {
  font-family: Imported;
  src: url(../assets/NN.otf);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  // text-decoration: underline;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: rgb(212, 212, 212);
  background: linear-gradient(
    0deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(255, 255, 255, 1) 14%,
    rgba(255, 255, 255, 1) 77%,
    rgba(212, 212, 212, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: none;
  // background: rgb(255,255,255);
  // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 77%, rgba(138,138,138,1) 100%);
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0.5%;
  font-family: Imported;
  letter-spacing: -0.1em;
  color: black;
  margin-top: 0.1em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  border: black 2px solid;
  width: 300px;
  height: 300px;
}

//==============PRODUCT LISTING=============

h2 {
  padding: 0%;
  margin: 0%;
}
.product-listing {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.list-view {
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

//===================Hero====================

.recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.trending {
  margin-top: 2em;
  display: flex;
  width: 70%;
  flex-direction: column;
  text-align: start;
  font-size: 30px;
}
p {
  margin: 0;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.slide.active {
  opacity: 1;
  transition: transform 0.2s ease-in-out;
  transform: (2);
}

.slide.active:hover {
  transform: scale(1.1);
}

.slide-btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  color: black;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
}

.slide-btn:hover {
  color: green;
}

.right {
  right: -5px;
}
.left {
  left: -10px;
}

@media (max-width: 424px) {
  .header {
    margin-top: 10px;
    font-size: 2.5em;
    color: black;
    margin-bottom: 5px;
  }

  .slide-btn {
    font-size: 2em;
  }

  .slider {
    margin-top: 50px;
  }
}

@media (min-width: 425px) {
  .header {
    font-size: 3.5em;
  }

  .slide-btn {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 6em;
  }

  .right {
    right: 10px;
  }
  .left {
    left: 5px;
  }
  .slide-btn {
    font-size: 4em;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 7em;
  }

  .right {
    right: 100px;
  }
  .left {
    left: 50px;
  }

  .slide-btn {
    font-size: 5em;
  }
}

.image {
  width: 300px;
}

//=====================Mini Post =======================
.MiniPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  height: 450px;
  width: 500px;
}

.title,
.mini-size {
  margin: 0%;
}

@media (max-width: 424px) {
  .mini-image {
    width: 270px;
  }

  .title,
  .mini-size {
    text-align: center;
    font-size: 15px;
  }
}

@media (min-width: 425px) {
  .mini-image {
    width: 350px;
  }

  .title,
  .mini-size {
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .mini-image {
    width: 435px;
  }

  .title,
  .mini-size {
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .mini-image {
    width: 550px;
  }

  .title,
  .mini-size {
    text-align: center;
    font-size: 20px;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
}

.img {
  color: black;
  height: auto;
  width: 30px;
  margin-left: 0.2em;
}

.img:hover {
  color: green;
}

@media (max-width: 424px) {
  .Footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 2px;
  }
}
