$font-stack: Helvetica, sans-serif;
$scheme: light dark;
$bg-color: #242424;

@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;
}

main {
  font: $font-stack;
  a:link {
    text-decoration: none;
  }
  img {
    height: 300px;
  }
  //==============PRODUCT LISTING=============
  .product-listing {
    background-color: $bg-color;
 @include theme($theme: DarkRed);

    .card {
      text-align: center;
      color: aliceblue;
    }
  }

  .product-details{
     @include theme($theme: $bg-color);
  }
}
